@import "../abstracts/mixins";
@import "../abstracts/variables";

.decor-line {
  height: 70px;
  width: 1px;
  margin: 0 auto;
  background-color: $white-color;
}

.border-radius {
  border-radius: 10px;
  overflow: hidden;
}

.decor {
  padding-left: 122px;
  position: relative;

  &:before {
    content: '';
    width: 122px;
    height: 1px;
    background: #1D9F96;
    position: absolute;
    left: -20px;
    top: 21px;
  }

  &-union {
    &__wrap {

      &:after {
        content: '';
        width: calc(100% - 61px);
        height: 1px;
        background: rgba(10, 15, 19, 0.2);
        position: absolute;
        top:50%;
        left: 61px;

      }
    }


    &__img {

    }

    &__text {
      background: #EFF3F5;
      padding-left: 20px;
      color: rgba(10, 15, 19, 1);
      font-size: 14px;
      position: relative;
      z-index: 3;
    }

    &__line {
      height: 1px;
      background: #0A0F13;
    }
  }
}


html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track {
  background-color: #eee;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background-color: $accent-color !important;
}


html {
  overflow-y: scroll;
}

body .hide-scrollbar, html .hide-scrollbar {
  scrollbar-width: none
}

body .hide-scrollbar::-webkit-scrollbar, html .hide-scrollbar::-webkit-scrollbar {
  display: none
}


img::selection {
  background-color: transparent;
}

.default-icon {
  width: 100%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.--relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.overlap {
  position: relative;
  z-index: 3;
}

body, html {
  &.overflow-hidden {
    // padding-left: calc(100vw - 100%);
    overflow: hidden;

  }
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none; /* Safari/Chrome */
  pointer-events: auto; /* keep interactions like clicks */
}

.lg-img-wrap img {
  user-drag: none;
  -webkit-user-drag: none;
}

.body-padding {
  height: 124px;
  @media (max-width: $breakpoint-lg) {
    height: 120px;
  }
}


.section {
  overflow: hidden;
  position: relative;

  & .heading {

  }
}


.main {
  overflow: hidden;
  min-height: 50vh;

  &-wrapper {
    //   position: relative;
    //  min-height: 100vh;
    //  overflow: hidden;
    z-index: 1;
  }

}

.swiper {
  &-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    //    height: 100%;
    opacity: 0;

    &.swiper-initialized {
      opacity: 1;
    }

    &:not(.swiper-no-swiping) {
      cursor: url(../img/drag.png) 16 9, ew-resize;

      cursor: -webkit-grab;
      cursor: -moz-grab;
      cursor: -o-grab;
      cursor: -ms-grab;
      cursor: grab;
    }
  }

  &-pagination {
    position: relative;
    bottom: 0;
    margin-top: 0;
    // display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 2 !important;
    display: flex;
    margin-top: 30px;
    gap: 14px;
    @media (max-width: $breakpoint-md) {
      gap: 15px;
    }

    &.swiper-pagination-horizontal {
      width: auto;
    }

    &-bullet {
      font-size: 0;
      width: 10px;
      height: 10px;
      background: rgba(206, 193, 182, 0.5);
      border-radius: 100%;

      @include transition(.4);

      &-active {
        background: rgba(206, 193, 182, 1);

        transform: scale(1.2);
      }
    }
  }

  &-controls {

  }

  &-button {
    &__wrap {
      cursor: auto;

      &.top {
        @media (min-width: $breakpoint-md) {
          position: absolute;
          top: 3%;
          right: 15px;
        }
        @media (max-width: $breakpoint-md) {
          position: relative;
          width: 100%;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between;
          margin-top: 40px;
        }


        & .swiper-button {
          &-next, &-prev {
            color: #000000;

            & i {
              color: #000000;
            }
          }

          &-next {
            padding-left: 24px;


          }

          &-prev {
            padding-right: 24px;

            &:before {
              content: '';
              height: 13px;
              width: 1px;
              background-color: rgba(0, 0, 0, .2);
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              @media (max-width: $breakpoint-md) {
                display: none;
              }
            }
          }
        }
      }
    }

    &-next, &-prev {
      border: none;
      background: #EFEADF;
      width: 81px;
      height: 50px;
      border-radius: 0;
      @include transition(.5);
      @media (max-width: $breakpoint-md) {
        width: 53px;
        height: 33px;
      }

      &:after {
        display: none;
      }

      i {
        color: #899088;
        font-size: 16px;
        @include transition(.5);
      }

      &:hover {
        background: #899088;

        & i {
          color: $white-color;
        }
      }
    }
  }
}


