@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-hero {
  height: 465px;
  position: relative;

  & .heading {

    @include fontSize(30, 96);
    color: #ffffff;
    line-height: 90%;
    letter-spacing: -4%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  & .swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;


    &__next {
      right: 60px;
      @media (max-width: $breakpoint-xl) {
        right: 10px;
      }
    }

    &__prev {
      left: 60px;
      @media (max-width: $breakpoint-xl) {
        left: 10px;
      }
    }

    &__img {
      width: 40px;
      height: 24px;
      object-fit: contain;
      object-position: center;
      @media (max-width: $breakpoint-md) {
        width: 30px;
        height: 14px;
      }
    }
  }

  & .banner__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrap {
      padding-bottom: 24%;
      position: relative;
      @media (max-width: $breakpoint-xl) {
        padding-bottom: 50%;
      }
    }
  }

  .decor-union__wrap {
    width: calc(100% - 120px);
    left: 60px;
    position: absolute;
    bottom: 12px;

    z-index: 3;
    overflow: hidden;

    &:after {
      left: 41px;
      width: calc(100% - 63px);
    }
  }
}


.s-catalog {
  min-height: 100vh;
  background: rgba(239, 243, 245, 1);
  margin-bottom: 210px;
  padding-top: 100px;
  @media (max-width: $breakpoint-md) {
    margin: 22px auto 100px auto;
  }

  & .heading {
    margin-bottom: 30px;
    @media (max-width: $breakpoint-md) {
      text-align: center;
      max-width: 340px;
      margin: 0 auto 18px auto;
    }
  }

  & .tab {
    border: none;
    background: transparent;
    font-size: 24px;
    color: rgba(10, 15, 19, 1);
    font-weight: 600;
    padding: 0;
    position: relative;
    cursor: pointer;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(10, 15, 19, 1);
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all ease-out .3s;
    }

    &:not(&:last-child) {
      margin-right: 60px;
    }

    &.active {
      &:after {
        opacity: 1;
      }

    }

    &__wrap {
      margin-bottom: 100px;
    }

  }

  & .project {
    padding: 20px 12px;
    gap: 28px;
    display: grid;
    border-width: 1px 1px 0px 1px;

    border-style: solid;

    border-color: rgba(168, 168, 168, 0.2);

    & .pin {
      width: 50%;
      height: 50%;
      object-fit: cover;

      &__wrap {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: absolute;
        overflow: hidden;
        left: 50%;
        top: -25px;
        transform: translateX(-50%);
        box-shadow: 0px 2px 0px 0px rgba(225, 228, 230, 1);
        background: rgba(239, 243, 245, 1);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 100px;
      gap: 50px 20px;
      @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
      @media (max-width: $breakpoint-sm) {
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 0 20px;
        text-align: center;
      }
    }

    &__img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }

    &__name {
      margin-top: 12px;
    }

    &__category {
      border: 1px solid #A8A8A8;
      padding: 4px 8px;
      border-radius: 1000px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &__location {
      font-weight: 500;
      color: rgba(10, 15, 19, 1);
      font-size: 20px;
    }

    &__date {
      color: rgba(10, 15, 19, 1);
      font-weight: 500;
      font-size: 20px;
    }

    & .types-work {
      padding: 4px 8px;
      border-radius: 1000px;
      border: 1px solid rgba(168, 168, 168, 0.2);
      font-size: 14px;
      font-weight: 500;
      color: rgba(115, 115, 115, 1);
      text-transform: uppercase;

      &__title {
        font-size: 14px;
        font-weight: 500;
        color: rgba(10, 15, 19, 1);
        margin-bottom: 9px;
        text-transform: uppercase;
      }

      &__wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 2px;
      }
    }
  }


}


.s-contacts {
  margin-bottom: 200px;
  @media (max-width: $breakpoint-xl) {
    margin-bottom: 100px;
  }

  & .heading {
    margin-bottom: 84px;
  }

  & .footer-info {
    &__title {
      margin-bottom: 23px;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: 84px 40px;

      @media (max-width: $breakpoint-lg) {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
      }
    }

    & .btn-primary {
      margin-top: 41px;
    }

    & ul {
      &:not(&.social) {
        gap: 15px;
        display: grid;

        & li {
          & i {
            font-size: 14px;
            padding-right: 12px;
          }

          font-weight: 500;

          font-size: 20px;
          line-height: 120%;
          letter-spacing: -0.02em;
          color: rgba(10, 15, 19, 1);

          & span {
            padding-left: 12px;
            color: rgba(115, 115, 115, 1);
            text-transform: uppercase;
            font-size: 14px;
          }
        }
      }
    }
  }

  /* & .swiper-slide {
     & .gallery__img-wrap {
       transform: scale(.6);
     }
     &-active {
       & .gallery__img-wrap {
         transform: scale(1);
       }
     }
   }*/
  & .swiper-container {
    padding-right: 150px;
    @media (max-width: 1600px) {
      padding-right: 100px;
    }
  }

  & .swiper-slide {
    & .gallery__img {
      object-fit: cover;

      &-wrap {

      }
    }

    &-active {
      z-index: 5;

      & .gallery__img-wrap {
        z-index: 6;
        position: relative;
      }
    }

    &-prev {
      & .gallery__img-wrap {

        opacity: 0;
      }
    }

    &-next {
      opacity: 1 !important;

      & .gallery__img-wrap {
        transform: translateX(150px);
        opacity: 1;
        @media (max-width: 1600px) {
          transform: translateX(100px);
        }
      }
    }
  }

  & .gallery {
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      overflow: hidden;
      object-fit: cover;

      &-wrap {
        @include transition(.5);

        &:after {
          content: '';
          padding-bottom: 100%;
          display: block;
        }
      }
    }
  }

  .slogan {
    position: absolute;
    font-weight: 400;
    @include fontSize(45, 96);
    line-height: 90%;
    letter-spacing: -4%;

    color: #EFF3F5;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 5;

    &__wrap {

    }

    &:nth-child(1) {
      left: 0;
      top: 50px;
    }

    &:nth-child(2) {
      right: 150px;
      bottom: 50px;
      @media (max-width: 1600px) {
        right: 100px;
      }
    }
  }

  & .decor-union__wrap {
    margin-bottom: 25px;
  }
}


