@import "../abstracts/mixins";
@import "../abstracts/variables";

.s-product {
  margin-bottom: 150px;
  @media (max-width: $breakpoint-md) {
    margin: 30px 0;
  }

  & .product {


    &__title {
      margin-bottom: 22px;
      @media (max-width: $breakpoint-md) {
        text-align: center;
        width: 80%;
        margin: 0 auto 30px auto;
      }
    }

    &__price {
      margin-bottom: 34px;
      font-size: 25px;
      color: #08121E;
      font-weight: bold;
      @media (max-width: $breakpoint-md) {
        margin: 24px 0;
        justify-content: center;
      }
    }

    &__controls {
      margin-bottom: 33px;
      @media (max-width: $breakpoint-md) {
        justify-content: center;
        margin-bottom: 23px;
      }

      & .product-qty {
        background: #fff;
        border: 1px solid #EFEADF;
        padding: 14px 13px;
        margin-right: 20px;

        &__btn {
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          margin: 0;
          border: none;
          background: transparent;

          & i {
            color: #899088;
            font-size: 20px;
          }
        }

        &__input {
          width: 64px;
          border: none;
          text-align: center;
          font-size: 18px;
          color: #899088;
        }
      }

      & .btn-primary {
        min-width: 243px;
      }
    }

    &__gallery {
      @media (max-width: $breakpoint-md) {
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }

  & .swiper-thumbs {
    & .img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;

      &__wrap {
        position: relative;
        padding-bottom: 86%;
        background: $white-color;
        border: 1px solid rgba(239, 234, 223, 1);

      }
    }

    &-top {
      margin-bottom: 20px;
    }

    &-bottom {
      width: 80%;
      margin-right: auto;
      margin-left: 0;
      @media (max-width: $breakpoint-md) {
        width: 100%;
      }
    }
  }
}
