@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?psvl59');
  src:  url('fonts/icomoon.eot?psvl59#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?psvl59') format('truetype'),
    url('fonts/icomoon.woff?psvl59') format('woff'),
    url('fonts/icomoon.svg?psvl59#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: #eff3f5;
}
.icon-instagram:before {
  content: "\e901";
  color: #eff3f5;
}
.icon-tiktok:before {
  content: "\e902";
  color: #eff3f5;
}
.icon-youtube:before {
  content: "\e903";
  color: #eff3f5;
}
.icon-ar-bottom:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
